* {
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.audio-control {
  position: absolute;
  top: 1.5%;
  right: 2%;
}

.header {
  width: 50vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.login {
  width: 200px;
  height: 170px;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  margin-top: 15vh;
}

.login > h1 {
  margin: 0;
}

.auth-buttons {
  width: 200px;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}