* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pokemon-Dialogue';
  src: URL("./fonts/pkmndp.ttf") format("truetype");
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-control {
  position: absolute;
  top: 1.5%;
  right: 2%;
}

.header {
  width: 50vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.login {
  width: 200px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15vh;
}

.loginput {
  border: solid 1px #3a3a3a;
  border-radius: 10px;
}

.auth-buttons {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer-card {
  font-family: Pokemon-Dialogue;
  color: #424242;
  text-shadow: 1.5px 1.5px #969696;
  background: url(./svg/Card-Front.png);
  width: 461px;
  height: 338px;
  position: absolute;
  top: 10vh;
}

.card-name {
  position: absolute;
  top: 14.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  margin-left: 5%;
}

.card-threeds {
  position: absolute;
  top: 23.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  margin-left: 5%;
}

.edit-threeds {
  position: absolute;
  top: 23.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  margin-left: 5%;
}

.edit-threeds > input {
  font-family: Pokemon-Dialogue;
  color: #424242;
  text-shadow: 1.5px 1.5px #969696;
  font-weight: bold;
  width: 45%;
  background: none;
  color: inherit;
  border: none;
  outline: none;
}

.card-switch {
  position: absolute;
  top: 37.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  margin-left: 5%;
}

.edit-switch {
  position: absolute;
  top: 37.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  margin-left: 5%;
}

.edit-switch > input {
  font-family: Pokemon-Dialogue;
  color: #424242;
  text-shadow: 1.5px 1.5px #969696;
  font-weight: bold;
  background: 45%;
  background: none;
  color: inherit;
  border: none;
  outline: none;
}

.card-home {
  position: absolute;
  top: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  margin-left: 5%;
}

.edit-home {
  position: absolute;
  top: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  margin-left: 5%;
}

.edit-home > input {
  font-family: Pokemon-Dialogue;
  color: #424242;
  text-shadow: 1.5px 1.5px #969696;
  font-weight: bold;
  background: 45%;
  background: none;
  color: inherit;
  border: none;
  outline: none;
}

.card-pic {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 20%;
}

.edit-pic {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 20%;
  height: 27.5%;
  background: none;
  color: inherit;
}

.edit-save {
  position: absolute;
  right: 8px;
  bottom: -24px;
}

.undo-qr {
  position: absolute;
  right: 34px;
  bottom: -24px;
}

.buddy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buddy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.poke-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */