@import './resets';

@font-face {
  font-family: 'Pokemon-Dialogue';
  src: URL('./fonts/pkmndp.ttf') format('truetype');
}



.style-button {
	background: none;
	color: inherit;
	border: 1px solid lightgray;
  border-radius: 6px;
	padding: 10px;
	font: inherit;
	cursor: pointer;
}

.App {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  text-align: center;
  display: flex;
	flex-direction: column;
	align-items: center;
  min-height: 100%;
}

.audio-control {
  position: absolute;
  top: 1.5%;
  right: 2%;
}

.header { 
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bold;
  width: 50vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.login {
  width: 200px;
  height: 170px;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  margin: 15vh;
}

.loginput {
	border: solid 1px rgb(58, 58, 58);
  border-radius: 6px;
  height: 30px;
  padding: 0 10px 0 10px;
}

.auth-buttons {
  width: 200px;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.extra-card {
  position: absolute;
  top: 15vh;
}

.trainer-card {
  font-family: Pokemon-Dialogue;
  color: rgb(66, 66, 66);
  text-shadow: 1.5px 1.5px rgb(150, 150, 150);
  width: 461px;
  height: 338px;
  will-change: transform, opacity;
}

.trainer-edit {
  font-family: Pokemon-Dialogue;
  color: rgb(66, 66, 66);
  text-shadow: 1.5px 1.5px rgb(150, 150, 150);
  background: url(./svg/Card-Front.png);
  width: 461px;
  height: 338px;
  position: absolute;
  top: 5vh;
}

.front {
  background: url(./svg/Card-Front.png);
  position: absolute;
}

.back {
  background: url(./svg/trainercard_back_v2.png);
  position: absolute;
}

$item-flex: (
  "display": flex,
  "justify-content": space-between,
  "align-items": center
);
$item-width: 52%;
$item-margin: 5%;
  
$name-pos: (
  "pos": absolute,
  "top": 14.8%
);

$threeds-pos: (
  "pos": absolute,
  "top": 23.8%
);

$switch-pos: (
  "pos": absolute,
  "top": 37.5%
);

$home-pos: (
  "pos": absolute,
  "top": 47%
);

$edit-inputs: (
  "weight": bold,
  "width": 45%,
  "back": none,
  "color": inherit,
	"border": 1px solid rgb(109, 109, 109),
  "border-radius": 6px,
	"padding": 0,
	"font": inherit,
);

.card-name {
  position: map-get( $name-pos, pos );
  top: map-get( $name-pos, top );
  display: map-get( $item-flex, display );
	justify-content: map-get( $item-flex, justify-content );
	align-items: map-get( $item-flex, align-items );
  width: $item-width;
  margin-left: $item-margin;
}

.card-threeds {
  position: map-get( $threeds-pos, pos );
  top: map-get( $threeds-pos, top );
  display: map-get( $item-flex, display );
	justify-content: map-get( $item-flex, justify-content );
	align-items: map-get( $item-flex, align-items );
  width: $item-width;
  margin-left: $item-margin;
}

.edit-threeds {
  position: map-get( $threeds-pos, pos );
  top: map-get( $threeds-pos, top );
  display: map-get( $item-flex, display );
	justify-content: map-get( $item-flex, justify-content );
	align-items: map-get( $item-flex, align-items );
  width: $item-width;
  margin-left: $item-margin;
}

.edit-threeds > input {
  font-family: Pokemon-Dialogue;
  color: rgb(66, 66, 66);
  font-weight: map-get( $edit-inputs, weight );
  width: map-get( $edit-inputs, width );
  background: map-get( $edit-inputs, back );
  color: map-get( $edit-inputs, color );
  border: map-get( $edit-inputs, border );
  border-radius: map-get( $edit-inputs, border-radius );
  height: map-get( $edit-inputs, height );
}

.card-switch {
  position: map-get( $switch-pos, pos );
  top: map-get( $switch-pos, top );
  display: map-get( $item-flex, display );
	justify-content: map-get( $item-flex, justify-content );
	align-items: map-get( $item-flex, align-items );
  width: $item-width;
  margin-left: $item-margin;
}

.edit-switch {
  position: map-get( $switch-pos, pos );
  top: map-get( $switch-pos, top );
  display: map-get( $item-flex, display );
	justify-content: map-get( $item-flex, justify-content );
	align-items: map-get( $item-flex, align-items );
  width: $item-width;
  margin-left: $item-margin;
}

.edit-switch > input {
  font-family: Pokemon-Dialogue;
  color: rgb(66, 66, 66);
  font-weight: map-get( $edit-inputs, weight );
  width: map-get( $edit-inputs, width );
  background: map-get( $edit-inputs, back );
  color: map-get( $edit-inputs, color );
  border: map-get( $edit-inputs, border );
  border-radius: map-get( $edit-inputs, border-radius );
  height: map-get( $edit-inputs, height );
}

.card-home {
  position: map-get( $home-pos, pos );
  top: map-get( $home-pos, top );
  display: map-get( $item-flex, display );
	justify-content: map-get( $item-flex, justify-content );
	align-items: map-get( $item-flex, align-items );
  width: $item-width;
  margin-left: $item-margin;
}

.edit-home {
  position: map-get( $home-pos, pos );
  top: map-get( $home-pos, top );
  display: map-get( $item-flex, display );
	justify-content: map-get( $item-flex, justify-content );
	align-items: map-get( $item-flex, align-items );
  width: $item-width;
  margin-left: $item-margin;
}

.edit-home > input {
  font-family: Pokemon-Dialogue;
  color: rgb(66, 66, 66);
  font-weight: map-get( $edit-inputs, weight );
  width: map-get( $edit-inputs, width );
  background: map-get( $edit-inputs, back );
  color: map-get( $edit-inputs, color );
  border: map-get( $edit-inputs, border );
  border-radius: map-get( $edit-inputs, border-radius );
  height: map-get( $edit-inputs, height );
}

.card-pic {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 20%;
}

.edit-pic {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 20%;
  height: 27.5%;
  background: map-get( $edit-inputs, back );
  color: map-get( $edit-inputs, color );
}

.edit-save {
  position: absolute;
  right: 8px;
  bottom: -24px;
}

.undo-qr {
  position: absolute;
  right: 34px;
  bottom: -24px;
}

.buddy-list {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.buddy-item {
  display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
}

.trade-view {
  width: 30vw;
}

.poke-item {
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.prev-next {
  display: flex;
  flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}