@import './resets';
@import './scrollbar';

@font-face {
  font-family: 'Pokemon-Dialogue';
  src: URL('./fonts/pkmndp.ttf') format('truetype');
}

@mixin futura {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: bold;
}

@mixin button {
  border: 1px solid rgb(107, 107, 107);
  border-radius: 6px;
  padding: 5px 10px 8px 11px;
  font: inherit;
  cursor: pointer;
}

.style-button {
	border: 1px solid rgb(107, 107, 107);
  border-radius: 6px;
	padding: 5px 10px 8px 10px;
	font: inherit;
	cursor: pointer;
  width: 80px;
}

.App {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  text-align: center;
  display: flex;
	flex-direction: column;
	align-items: center;
  min-height: 100%;
}

.audio-control {
  position: absolute;
  top: 1.5%;
  right: 2%;
}

.header { 
	@include futura;
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.login {
  @include futura;
  height: 200px;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  margin: 15vh;
}

.input {
	border: solid 1px rgb(58, 58, 58);
  border-radius: 6px;
  height: 30px;
  padding: 0 10px 0 10px;
}

.auth-buttons {
  width: 200px;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.extra-card {
  position: absolute;
  top: 15vh;
}

.trainer-card {
  font-family: Pokemon-Dialogue;
  color: rgb(66, 66, 66);
  text-shadow: 1.5px 1.5px rgb(148, 148, 148);
  width: 461px;
  height: 338px;
  will-change: transform, opacity;
}

.qr-code {
  margin: 60px;
  width: 400px;
}

.trainer-edit {
  @extend .trainer-card;
  background: url(./svg/Card-Front.png);
  position: absolute;
  top: 15vh;
}

.front {
  background: url(./svg/Card-Front.png);
  position: absolute;
}

$item-flex: (
  "display": flex,
  "justify-content": space-between,
  "align-items": center
);
  
// @mixin mobile {
//   @media (max-width: 800px) {
//     @content;
//   }
// }

@mixin card-item-pos($pos) {
  position: absolute;
  top: $pos;
}

@mixin edit-inputs {
  font-weight: bold;
  width: 45%;
  background: none;
  color: inherit;
	border: 1px solid rgb(109, 109, 109);
  border-radius: 6px;
	padding: 0;
	font: inherit;
  font-size: inherit;
};

@mixin card-item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52%;
  margin-left: 5%;
}

.card-name {
  @include card-item-pos(14.8%);
  @include card-item-flex;
}

.card-threeds {
  @include card-item-pos(23.8%);
  @include card-item-flex;
}

.card-switch {
  @include card-item-pos(37.5%);
  @include card-item-flex;
}

.card-home {
  @include card-item-pos(47%);
  @include card-item-flex;
}

.card-home > input, .card-switch > input, .edit-home > input, .card-threeds > input {
  @include edit-inputs
}


.card-pic {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 20%;
}

.edit-pic {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 20%;
  height: 27.5%;
  background: none;
}

.edit-save {
  color: black;
  position: absolute;
  right: 16px;
  bottom: -24px;
}

.undo-qr {
  color: black;
  position: absolute;
  right: 44px;
  bottom: -24px;
}

.back {
  background: url(./svg/trainercard_back_v2.png);
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
	flex-direction: column;
	align-items: center;
  padding-top: 4%;
}

.trade-item-main {
  position: relative;
  margin-bottom: 2.5%;
  margin-left: .9%;
  width: 93%;
  display: flex;
	justify-content: space-between;
	align-items: flex-start;
  img {
    width: 75px;
  }
  .delete-trade {
    visibility: hidden;
    position: absolute;
    top: -5px;
    right: -5px;
  }
}

.trade-item-main:hover {
  .delete-trade{
    visibility: visible;
  }
}

.trade-message {
  height: 62px;
  display: flex;
  flex-direction: column;
	justify-content: space-around;
}

.add-trade {
  position: absolute;
  bottom: 0;
}

.trade-extra {
  position: absolute;
  top: 58%;
  overflow: hidden;
  height: 32%;
  width: 79%;
}

.trade-extra:hover {
  overflow: auto;
}

.trade-item-extra {
  width: 354.19px;
  position: relative;
  display: flex;
	justify-content: space-around;
	align-items: center;
  margin-top: -3px;
  margin-bottom: 20px;
  img {
    width: 50px;
  }
  .delete-trade {
    visibility: hidden;
    position: absolute;
    top: -7.5px;
    right: -7.5px;
  }
}

.trade-item-extra:hover {
  .delete-trade{
    visibility: visible;
  }
}

.icon-wrapper {
  position: relative;
  background: rgb(224,98,96);
  background: linear-gradient(163deg, rgba(224,98,96,1) 35%, rgba(240,182,98,1) 100%);
  // border: 3px solid #737474;
  border-radius: 6px;
}

.search-form {
  width: 280px;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-list {
  display: flex;
	flex-direction: column;
	align-items: center;
}

.search-item {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  margin-top: 16px;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 6px;
  padding-left: 10px;
  width: 100%;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-button {
  @include button;
}

.add-buddy {
  @include button;
  border: none;
  border-left: 1px solid rgb(107, 107, 107);
}

.added {
  @include button;
  font-style: italic;
  color: gray;
  border: none;
  border-left: 1px solid rgb(107, 107, 107);
}

.buddies-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}

.buddy-item {
  position: relative;
  @include futura;
  width: 100%;
  min-height: 70px;
  background: linear-gradient(175deg, rgba(255,255,255,1) 30%, rgba(159,241,255,1) 100%);
  margin: 10px 0 10px 0;
  border-left: 5px solid rgb(96, 153, 175);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 10px lightgrey;
  display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.buddy-profile {
	display: flex;
  align-items: center;
  img {
    background: linear-gradient(163deg, rgba(196,232,237,1) 0%, rgba(232,232,232,1) 100%);
    margin-right: 5px;
    border-radius: 6px;
    padding-bottom: 5px;
  }
  #buddy-username {
    position: absolute;
    top: 10px;
    left: 50px;
  }
  #buddy-card-icon {
    position: absolute;
    bottom: 5px;
    left: 15px;
  }
  button {
    position: absolute;
    bottom: 5px;
    left: 45px;
  }
}

.bud-trade, .bud-trade-item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  p {
    margin-bottom: 10px;
  }
}

.bud-trade-item {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  border: 2px solid #737474;
  border-radius: 6px;
  margin: 5px;
  padding: 5px 8px 5px 8px;
}

.poke-view {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.trade-launch {
  background: rgb(196, 255, 252);
  position: sticky;
  top: 10px;
  width: 460px;
  border-radius: 2px solid rgb(38, 193, 255);
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
	align-items: center;
  button {
    height: 36px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px 10px 8px 11px;
    background: linear-gradient(175deg, rgba(255,255,255,1) 30%, rgba(159,241,255,1) 100%);
    font: inherit;
    cursor: pointer;
    width: 80px;
  }
}

.poke-launch {
  height: 146px;
  width: 130px;
  background: linear-gradient(175deg, rgba(255,255,255,1) 30%, rgba(159,241,255,1) 100%);
  margin: 10px 0 10px 0;
  border-bottom: 5px solid rgb(96, 153, 175);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 10px lightgrey;
}

.poke-list {
  width: 400px;
}

.poke-item {
  @include futura;
  display: flex;
	justify-content: space-between;
	align-items: center;
  button {
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px 10px 8px 10px;
    background: linear-gradient(175deg, rgba(255,255,255,1) 30%, rgba(159,241,255,1) 100%);
    font: inherit;
    cursor: pointer;
  }
}

.prev-next {
  display: flex;
  flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
  button {
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px 10px 8px 10px;
    font: inherit;
    cursor: pointer;
    width: 120px;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100vw;
  }
  .login {
    margin: 5vh;
  }
  .qr-code {
    width: 80vw;
  }
}